@model MVCRestaurang.Models.BookingViewModel

@{
    ViewBag.Title = "Test2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test2</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>BookingViewModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.RestaurantId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RestaurantId)
            @Html.ValidationMessageFor(model => model.RestaurantId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RestaurantName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RestaurantName)
            @Html.ValidationMessageFor(model => model.RestaurantName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PhoneNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PhoneNumber)
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumberOfPeople)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumberOfPeople)
            @Html.ValidationMessageFor(model => model.NumberOfPeople)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
