@if (Request.IsAuthenticated)
{
    @Html.ActionLink(("Hello, " + User.Identity.Name), "Edit", "Restaurant", null, new
    {
        @class = "username",
        title = "Manage"
    })

    @(Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Register", "Register", "Account", null, new
            {
                id = "registerLink",
            })
        </li>
        <li>
            @Html.ActionLink("Log in", "Login", "Account", null, new
            {
                id = "loginLink"
            })
        </li>
    </ul>
}