@model MVCBusinessBooking.Domain.Models.Restaurant

<li class="col-lg-12">
    <div>
        <div style="float:left;">
            @if (@Model.PictureUrl.Length > 0)
            {
                <img src="/UserImages/@Model.Name/@Model.PictureUrl" class="restaurantImg" />

            }
            else
            {
                <img src="~/Assets/UserImages/placeholder.jpg" class="restaurantImg" />
            }
        </div>
        <div>

            <p style="font-size: medium">@Model.Name</p>
    </div>
    <span>@Model.StreetName, @Model.City</span>
    <div>@Model.Description</div>
    <div>@Html.ActionLink("Boka", "BookTable", "Restaurant", new { id = Model.Id }, null)</div>
</div>
</li>